@import '../../theme.scss';

.ChatItem {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    &_self {
        @extend .ChatItem;
        flex-direction: row-reverse;
    }
    &_textBubble {
        text-align: left;
        border-radius: 10px;
        padding: 5px 10px 5px;
        margin: 0 10px 10px;
        background-color: $themBubble;
        &_self {
            @extend .ChatItem_textBubble;
            background-color: $meBubble;
        }
    }

    &_name {
        color: $textColor;

        font-size: 10px;
        font-weight: 800;
    }
    &_text {
        color: $textColor;
    }
    &_img {
        height: 40px;
        border-radius: 20px;
    }
}
