@import './theme.scss';

.App {
  background-color: $appBG;
  min-width: 100vw;
  min-height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  &_content{
    flex: 1;
  }
}
