$appBG: #ffebee;
$HeaderFooterBG: #f8bbd0;
$textColor: #555;
$chatBG: #bf5f82;
$meBubble: #ffc1e3;
$themBubble: #ffeeff;

:export{
    appBG: $appBG;
    HeaderFooterBG: $HeaderFooterBG;
    textColor: $textColor;
    chatBG: $chatBG;
    meBubble: $meBubble;
    themBubble: $themBubble;
}